<!DOCTYPE html>
<head>
  <title>TVibes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet"
  />
  <!-- Unicons CDN Link for Icons -->
  <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css"
  />
</head>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <img src="{{ url_for('static', filename='images/logo.png') }}" />
      <div class="content" onclick="sendFocus()">
        <ul id="entered-tags">
          <input
            placeholder="What's your vibe? 🏨 (comma-separated)"
            id="filter-text-val"
            autocomplete="off"
            type="text"
            spellcheck="false"
          />
        </ul>
        <div class="select-countries">
          <h4>Countries:</h4>
          <label>
            <input
              type="checkbox"
              id="select-all-btn"
              name="countries[]"
              value="Select All"
              checked
            />
            (Select All) </label
          ><br />
          <label>
            <input
              type="checkbox"
              class="country-checkbox"
              name="countries[]"
              value="Austria"
              checked
            />
            Austria </label
          ><br />
          <label>
            <input
              type="checkbox"
              class="country-checkbox"
              name="countries[]"
              value="Spain"
              checked
            />
            Spain </label
          ><br />
          <label>
            <input
              type="checkbox"
              class="country-checkbox"
              name="countries[]"
              value="Netherlands"
              checked
            />
            Netherlands </label
          ><br />
          <label>
            <input
              type="checkbox"
              class="country-checkbox"
              name="countries[]"
              value="Italy"
              checked
            />
            Italy </label
          ><br />
          <label>
            <input
              type="checkbox"
              class="country-checkbox"
              name="countries[]"
              value="United Kingdom"
              checked
            />
            United Kingdom </label
          ><br />
          <label>
            <input
              type="checkbox"
              class="country-checkbox"
              name="countries[]"
              value="France"
              checked
            />
            France </label
          ><br />
        </div>
      </div>
    </div>
    <div id="answer-box"></div>
  </div>
  <script>
    const selectAllBtn = document.getElementById("select-all-btn");
    const countryCheckboxes = document.querySelectorAll(".country-checkbox");

    selectAllBtn.addEventListener("change", () => {
      const checked = selectAllBtn.checked;
      for (const checkbox of countryCheckboxes) {
        checkbox.checked = checked;
      }
      filterText();
    });

    for (const checkbox of countryCheckboxes) {
      checkbox.addEventListener("change", () => {
        const allSelected = [...countryCheckboxes].every((cb) => cb.checked);
        selectAllBtn.checked = allSelected;
        filterText();
      });
    }
  </script>
  <script>
    function answerBoxTemplate(
      hotel_id,
      hotel_name,
      review,
      numVotes,
      country,
      averageScore,
      tags,
      query
    ) {
      return `<div class='card' data-id=${hotel_id}>
                <h3 class='hotel-name'>${hotel_name}</h3>
                Country: ${country}, Average Rating: ${averageScore}
                <p class='tags'>Tags: ${tags.join(", ")}</p>
                <a href="/${hotel_id}?query=${query}">View Hotel</a>
            </div>`;
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function filterText() {
      document.getElementById("answer-box").innerHTML = "";
      const selectedCountryCheckboxes = document.querySelectorAll(
        ".country-checkbox:checked"
      );
      // get a list of all checkbox values
      const countryValues = Array.from(selectedCountryCheckboxes).map(
        (checkbox) => checkbox.value
      );
      // join values by comma into string
      const countryString = countryValues.join(",");
      const query = tags.join(" ");
      fetch(
        "/reviews?" +
          new URLSearchParams({
            query: query,
            countries: countryString,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) => {
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              row.Hotel_ID,
              row.Hotel_Name,
              row.Positive_Review,
              row.Number_Votes,
              row.Country,
              row.Average_Score,
              [row.Topic_1, row.Topic_2, row.Topic_3, row.Topic_4, row.Topic_5],
              query
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          });
          // if no results, display message
          if (data.length == 0) {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = `<div class='review-card'
                No results found
            </div>`;
            document.getElementById("answer-box").appendChild(tempDiv);
          }
        });
    }
  </script>
  <script>
    // from https://www.codingnepalweb.com/tags-input-box-html-javascript/
    const ul = document.querySelector("ul"),
      input = document.getElementById("filter-text-val");
    function findTagsAndFilter(e) {
      if (e.key == ",") {
        addTag(e);
        filterText();
      } else if (
        (e.key === "Backspace" || e.key === "Delete") &&
        input.value == ""
      ) {
        if (tags.length > 0) {
          tags.pop();
          createTag();
          filterText();
        }
      }
    }

    tags = [];
    createTag();
    function createTag() {
      ul.querySelectorAll("li").forEach((li) => li.remove());
      tags
        .slice()
        .reverse()
        .forEach((tag) => {
          let liTag = `<li>${tag} <i class="uit uit-multiply" onclick="remove(this, '${tag}'); filterText();"></i></li>`;
          ul.insertAdjacentHTML("afterbegin", liTag);
        });
    }
    function remove(element, tag) {
      let index = tags.indexOf(tag);
      tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
      element.parentElement.remove();
    }
    function addTag(e) {
      let tag = e.target.value.replace(/\s+/g, " ");
      if (tag.length > 1 && !tags.includes(tag)) {
        let tags_split = tag.split(",");
        if (tags_split.length > 0) {
          tags.push(tags_split[0]);
          createTag();
        }
      }
      e.target.value = "";
    }
    input.addEventListener("keyup", findTagsAndFilter);
  </script>
</body>
