<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet"
  />
  <!-- Unicons CDN Link for Icons -->
  <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css"
  />
</head>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div class="google-colors">
        <h1 id="google-c">T</h1>
        <h1 id="google-s">V</h1>
        <h1 id="google-4">I</h1>
        <h1 id="google-3">B</h1>
        <h1 id="google-0-1">E</h1>
        <h1 id="google-0-2">Z</h1>
      </div>
      <div class="content" onclick="sendFocus()">
        <ul id="entered-tags">
          <input
            placeholder="Search for a hotel 🏨"
            id="filter-text-val"
            autocomplete="off"
            type="text"
            spellcheck="false"
          />
        </ul>
      </div>
      <div class="details">
        <button>Clear</button>
      </div>
    </div>
    <div id="answer-box"></div>
  </div>

  <script>
    function answerBoxTemplate(title, titleDesc) {
      return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`;
    }

    function sendFocus() {
      document.getElementById("filter-text-val").focus();
    }

    function filterText() {
      document.getElementById("answer-box").innerHTML = "";
      fetch(
        "/episodes?" +
          new URLSearchParams({
            title: tags.join(" "),
          }).toString()
      )
        .then((response) => response.json())
        .then((data) => {
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              row.Hotel_Name,
              row.Positive_Review
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          });
        });
    }
  </script>
  <script>
    function findTagsAndFilter(e) {
      if (e.key == "," || e.key == " ") {
        addTag(e);
        filterText();
      } else if (e.key === "Backspace" || e.key === "Delete") {
        if (tags.length > 0) {
          tags.pop();
          createTag();
        }
      }
    }

    // from https://www.codingnepalweb.com/tags-input-box-html-javascript/
    const ul = document.querySelector("ul"),
      input = document.getElementById("filter-text-val");
    tags = [];
    createTag();
    function createTag() {
      ul.querySelectorAll("li").forEach((li) => li.remove());
      tags
        .slice()
        .reverse()
        .forEach((tag) => {
          let liTag = `<li>${tag} <i class="uit uit-multiply" onclick="remove(this, '${tag}')"></i></li>`;
          ul.insertAdjacentHTML("afterbegin", liTag);
        });
    }
    function remove(element, tag) {
      let index = tags.indexOf(tag);
      tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
      element.parentElement.remove();
    }
    function addTag(e) {
      let tag = e.target.value.replace(/\s+/g, " ");
      if (tag.length > 1 && !tags.includes(tag)) {
        let tags_split = tag.split(",");
        if (tags_split.length == 1) {
          tags_split = tag.split(" ");
        }
        if (tags_split.length > 0) {
          tags.push(tags_split[0]);
          createTag();
        }
      }
      e.target.value = "";
    }
    input.addEventListener("keyup", findTagsAndFilter);
    const removeBtn = document.querySelector(".details button");
    removeBtn.addEventListener("click", () => {
      tags.length = 0;
      ul.querySelectorAll("li").forEach((li) => li.remove());
    });
  </script>
</body>
