<!DOCTYPE html>
<head>
  <title> {{ name }} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet"
  />
  <!-- Unicons CDN Link for Icons -->
  <link
    rel="stylesheet"
    href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css"
  />
</head>
<body>
  <div class="full-body-container">
    <img src="{{ url_for('static', filename='images/logo.png') }}" />
    <div class="card" style="width: 50vw">
      <a href="/">👈 Back</a>
      <h1>🏨 {{ name }}</h1>
      <p>⭐️ <strong>Score</strong>:
      {% for star_count in range((score // 2) | int) %}
          <img src="{{ url_for('static', filename='images/full-star.png') }}" width="20px" />
          {% endfor %}

          {% if ((score | int) % 2) == 1 %}
          <img src="{{ url_for('static', filename='images/half-star.png') }}" width="20px" />
          {% endif %}

          {% for star_count in range(5 - ((score // 2) | int) - ((score | int) % 2)) %}
          <img src="{{ url_for('static', filename='images/empty-star.png') }}" width="20px" />
          {% endfor %}
          {{ score }} / 10
      </p>
      <p>🗺️ <strong>Country</strong>: {{ country }}</p>
      <div>
        <p>
          🔖 <strong>Tags</strong>: {% for i in range(tags|length) %}

          <span id="t{{i}}" class="tag">{{tags[i]}}</span>

          {% endfor %}
        </p>
      </div>
      <p>🗣️ Reviews:</p>
        {% for idx in range(reviews|length) %}
        <div class="review-card">
          <div>
          {% for star_count in range((scores[idx] // 2) | int) %}
          <img src="{{ url_for('static', filename='images/full-star.png') }}" width="20px" />
          {% endfor %}

          {% if ((scores[idx] | int) % 2) == 1 %}
          <img src="{{ url_for('static', filename='images/half-star.png') }}" width="20px" />
          {% endif %}

          {% for star_count in range(5 - ((scores[idx] // 2) | int) - ((scores[idx] | int) % 2)) %}
          <img src="{{ url_for('static', filename='images/empty-star.png') }}" width="20px" />
          {% endfor %}
          </div>

          <span class="review-text">{{reviews[idx]}}</span>
        </div>

        {% endfor %}
    </div>
    <p id="highlight-words" style="visibility: hidden; opacity: 0; "> {{rel_words}} </p>
  </div>
  <script>
    function getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 3; i++) {
        var value = Math.floor(Math.random() * 256);
        var pastelValue = Math.round((value + 255) / 2);
        var hexValue = pastelValue.toString(16).padStart(2, "0");
        color += hexValue;
      }
      return color;
    }

    for (var i = 0; i <= 4; i++) {
      var element = document.getElementById("t" + i);

      // Assign a random color to the element
      element.style.backgroundColor = getRandomColor();
    }
  </script>
  <script>
    var reviews = document.getElementsByClassName("review-text");
    var highlight_words = document.getElementById("highlight-words").innerHTML.split(",");
    for (var i=0; i<reviews.length; i++) {
      var str = reviews[i].innerHTML;
      var regex = new RegExp('\\b(' + highlight_words.join('|') + ')\\b', 'gi');
      var highlightedText = str.replace(regex, '<span class="highlight">$1</span>');
      reviews[i].innerHTML = highlightedText;
    }
  </script>
</body>
